.heading {
	text-align: center;
	color: darkolivegreen;
	text-shadow: rgb(19, 73, 8);
}
.button {
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	margin: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg, #0162c8, #55e7fc);
}
.barContainer {
	/*border: 2px solid black;
	background-color: cornsilk;*/
	position: absolute;
	left: 100px;
	top: 100px;
}

.arrayBar {
	width: 4px;
	background-color: #0c3f0c;
	display: inline-block;
	margin: 0 1px;
}
